.admin {
	margin-top: 25px;
	margin-left: 25px;

	a {
		color: white;
		background: #a3be5f;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,.24);
		display: table;
		font-size: 17px;
		padding: 8px 30px;
		text-decoration: none;
		margin-top: 10px;
	}
	.flex {
		display: flex;
	}
}
