.navhero {
	display: flex;
	flex-direction: column;
	> div {
		align-self: center;
	}
}

.navbar {
	display: flex;
	background: #3A3A3A;
	color: #A3A3A3;
	justify-content: center;

	> div {
		padding: 10px;

		> a {
			text-decoration: none;
			color: #A3A3A3;			
		}

		&:last-child {
			margin-left: auto;
		}

		&:first-child {
			visibility: hidden;
			margin-left: auto;						
		}
	}
}