.button-container {
	margin: 25px;
}

.image-container {
	margin: 50px 25px;
}

.input-container {
	margin: 50px;

	.cost-container {
		float: left;
		height: 250px;
		width: 40%;
		overflow-y: scroll;
		border: 1px solid #D6D6D6;
	}

	> div > textarea {
		border: 1px solid #D6D6D6;
		height: 18em;
		margin-left: 25px;
		width: 35em;
	}
}

.form {
	align-items: center;
	display: flex;
	padding: 10px 5px;
	width: 100%;

	> label {
		margin-right: 10px;
		width: 40px;
	}

	> div > label {
		margin-right: 10px;
	}
}

.form:hover {
	background: #BBBBBB;
}

svg {
	stroke-opacity: 0;
}

svg {
	pointer-events: visible;
	cursor: pointer;
}
svg img:hover {
	backface-visibility: hidden;
	opacity: 0;
}

svg path{
	fill:none;
  stroke:black;
  pointer-events:all;
}

svg path:hover {
    fill:  rgba(73,143,226,0.80);
}

svg rect:hover {
    fill:  rgba(73,143,226,0.80);
}

svg polygon:hover {
    fill:  rgba(73,143,226,0.80);
}

.hover {
	fill:  rgba(73,143,226,0.80);
}
.hover-red {
	fill: rgba(255, 0, 0, 0.80);
}
.purchased {
	cursor: default;
	fill:  rgba(73,143,226,0.80);
	pointer-events: none;
}
.svg {
	margin-top: 15px;
	height: 18em;
	width: 70vw;
}
