.glass {
	.image {
		margin-top: 75px;
		> div {
			display: flex;
			> img {
				border: 3px solid #4A4A4A;;
				cursor: pointer;
				height: auto;
				margin: 5px 5px;
				width: 350px;
			}

			> img:hover { 
				border: 3px solid white;
				cursor: hand;
			}
		}		
	}
}