.glass {
	.image {
		margin-top: 75px;
		> div {
			display: flex;
			flex-direction: column;
			> img {
				border: 3px solid #4A4A4A;;
				cursor: pointer;
				flex-shrink: 0;
				height: auto;
				width: 30vw;
				margin: 5px 5px;
			}

			> img:hover {
				border: 3px solid white;
				cursor: hand;
			}
		}
	}
}
.desktop {
	display: flex;
}
.mobile {
	display: none;

	img {
		margin-bottom: 15px;
	}
}

@media(max-width: 730px) {
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
}
