.glass {
	.image {
		margin-top: 75px;
		> div {
			display: flex;
			> img {
				width: 450px;
				height: auto;
				margin: 5px 5px;
				border: 3px solid #4A4A4A;
			}

			> img:hover { 
				border: 3px solid white;
				cursor: hand;
			}

			@media(max-width: 600px) {
				width: 350px;
				height: 10%;
			}
		}		
	}
}