.login {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 80%;
	justify-content: center;

	> * {
		margin-top: 20px;
	}

	a {
		background: #a3be5f;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,.24);
		color: white;
		cursor: pointer;
		display: table;
		font-size: 17px;
		margin-top: 20px auto;
		padding: 12px 30px;
		text-align: center;
		text-decoration: none;
		width: 100px;
	}
}