.navbar {
    background: #3a3a3a;
    display: flex;
    font-size: 14px;

    > div {
        padding: 10px;
        > a {
            text-decoration: none;
            color: #a3a3a3;
        }
        &:last-child {
            margin-left: auto;
        }
        &:first-child {
            visibility: hidden;
            margin-left: auto;
        }
    }

    @media(max-width: 600px) {
        .toggle {
            display: none;
        }
    }
    .bag {
        width: 10px;
        background: #252525;
        padding: 6px 8px;
        border-radius: 50%;
    }
    .badge {
        background: #4A90E2;
        border-radius: 50%;
        color: white;
        font-weight: 600;
        font-size: 9px;
        padding: 5px 2px;
        text-align: center;
    }
}