.navbar {
    background: #3a3a3a;
    display: flex;
    align-items: center;
    font-size: 13px;

    .logo {
        display: flex;
        align-items: center;
        img {
            width: 33px;
            height: 41px;
            margin-right: 10px;
        }
    }

    > div {
        padding: 10px;
        > a {
            text-decoration: none;
            color: #a3a3a3;
        }
        &:last-child {
            margin-left: auto;
            position: relative;
        }
        &:first-child {
            visibility: hidden;
            margin-left: auto;
        }
    }

    @media(max-width: 600px) {
        .toggle {
            display: none;
        }
    }
    .bag-wrapper {
        position: relative;

        .circle {
            background: #4A90E2;
            border-radius: 50%;
            color: white;
            height: 20px;
            position: absolute;
            text-align: center;
            width: 20px;
        }

        .bag {
            width: 55%;
            height: auto;
            margin-left: 10px;
        }
    }
}