.sky-button {
	color: white;
	background: #a3be5f;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.24);
	display: table;
	font-size: 17px;
	margin: 0 auto;
	padding: 12px 30px;
	text-align: center;
	text-decoration: none;
}