.simply-donate {
	.black-bag {
		width: auto;
        height: auto;
    }
	.form {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin-top: 105px;
		> div {
			width: 300px;
			text-align: center;

			.total {
				font-weight: 600;				
				float: left;
				margin-left: 28px;
			}
			.total-amount {
				float: right;
				margin-right: 28px;
			}

		}

		> * {
			margin-top: 15px;
		}

		.title {
			font-family: Georgia;
			font-size: 24px;
		}

		.inspire {
			font-size: 14px;
			font-weight: 200;
			margin-top: 15px;
			text-align: center;
			width: 250px;
		}

		.amount {
			font-size: 16px;
			font-weight: 600;
			margin-top: 20px;
			text-align: center;
		}

		.email {
			margin-top: 35px;
		}

		.exp-date {
			display: flex;
			width: 250px;
			justify-content: space-between;
			> div {
				> input {
					width: 50px;
				}
				> input:first-child {
					margin-right: 10px;
				}
			}
			> input {
				width: 75px;
			}
		}

		input {
			height: 40px;
			width: 250px;
		}

		@media(max-width: 600px) {
			input {
				width: 90%;
			}
		}
	}
}