.value-glass {
  margin-left: 25px;
  ul {
    cursor: pointer;
    list-style: none;
  }
  ul li:hover {
    background: grey;
  }
  ul li div {
    margin-right: 15px;
    vertical-align: middle;
  }
  input {
    width: 50px;
  }
  .list {
    width: 25px;
  }
  .path-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    overflow-x: scroll;
    width: 100%;
  }
  .svg-list {
    display: flex;
    flex-wrap: wrap;
    overflow-x: scroll;
    width: 80%;
    li {
      font-size: 15px;
      margin: 8px;
    }
  }
  .flexPath {
    display: flex;
  }
  .resize {
    width: 800px;
    height: auto;
  }
}
