.button-container {
	margin: 25px;
}

.image-container {
	margin: 50px 25px;
}

.input-container {
	margin: 50px;

	.cost-container {
		float: left;
		height: 250px;
		width: 40%;
		overflow-y: scroll;
		border: 1px solid #D6D6D6;
	}

	> div > textarea {
		border: 1px solid #D6D6D6;
		height: 18em;
		margin-left: 25px;
		width: 35em;
	}
}

.form {
	align-items: center;
	display: flex;
	padding: 10px 5px;
	width: 100%;

	> label {
		margin-right: 10px;
		width: 40px;
	}

	> div > label {
		margin-right: 10px;
	}
}

.form:hover {
	background: #BBBBBB;
}

svg {
	stroke-opacity: 0;
}

svg path{
	fill:none;
    stroke:black;
    pointer-events:all;
}

svg path:hover {
    fill: #fce57e;
}

.hover {
	fill: #fce57e;	
}