input {
	font-size: 14px;
	font-weight: 100;
	padding: 0 10px;
}
::-webkit-input-placeholder {
	font-size: 14px;
	font-weight: 100;
}
::-moz-placeholder {
	font-size: 14px;
	font-weight: 100;
} /* firefox 19+ */
:-ms-input-placeholder {
	font-size: 14px;
	font-weight: 100;
} /* ie */
input:-moz-placeholder {
	font-size: 14px;
	font-weight: 100;
}
.purchased {
  stroke: #A3BE5F;
  stroke-width: 10px;
  stroke-opacity: 1;
  cursor: default;
  fill:  rgba(130,155,67,0.33);
  pointer-events: none;
}
