.footer {
	// color: #a3a3a3;
	// font-weight: 100;
	// background: #3a3a3a;
	// display: flex;
	// justify-content: center;
	// font-size: 14px;
	// padding: 40px 0px;

	> div {
		// margin: 0 25px;
		// display: flex;
		// flex-direction: column;
	}

	> div:last-child {
		// display: flex;

		> div {
			> img {
				// width: auto;
				// float: left;
				// margin-right: 10px;
			}
			.instagram {
				// width: 17px;
			}
		}
	}
	a {
		// text-decoration: none;
		// color: #a3a3a3;
	}
}

.copywrite {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #3a3a3a;
	color: #a3a3a3;
	padding: 10px 0;
	font-size: 14px;
	font-weight: 100;
	text-align: center;
}

@media(max-width: 600px) {
	.footer {
		flex-direction: column;
		> div {
			margin-bottom: 20px;
		}
	}
}
