.simply-donate {
	.black-bag {
		width: auto;
        height: auto;
    }
	.form {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin-top: 105px;
		margin-bottom: 50px;
		> div {
			width: 300px;
			text-align: center;

			.total {
				font-weight: 600;
				float: left;
				margin-left: 28px;
			}
			.total-amount {
				float: right;
				margin-right: 28px;
			}

		}

		> * {
			margin-top: 15px;
		}

		.title {
			font-family: Georgia;
			font-size: 24px;
		}

		.inspire {
			font-size: 14px;
			font-weight: 200;
			margin-top: 15px;
			text-align: center;
			width: 250px;
		}

		.amount {
			font-size: 16px;
			font-weight: 600;
			margin-top: 20px;
			text-align: center;
		}

		.email {
			margin-top: 35px;
		}

		.exp-date {
			display: flex;
			width: 250px;
			justify-content: space-between;
			> div {
				> input {
					width: 50px;
				}
				> input:first-child {
					margin-right: 10px;
				}
			}
			> input {
				width: 75px;
			}
		}

		input {
			height: 40px;
			width: 250px;
		}

		@media(max-width: 600px) {
			input {
				width: 90%;
			}
		}

		a {
			color: white;
			cursor: pointer;
			background: #a3be5f;
			box-shadow: 0 2px 4px 0 rgba(0,0,0,.24);
			display: table;
			font-size: 17px;
			margin: 0 auto;
			padding: 12px 30px;
			text-align: center;
			text-decoration: none;
		}
		a:hover {
			background: #829B43;
		}
		a:active {
			box-shadow: none;
		}
		a.disabled {
			background: #B8BBAF;
			box-shadow: none;
			pointer-events: none;
		}
	}
	.form:hover {
		background: white;
	}
}
