.button {
  composes: button from './../styles/common.css';
  margin: 0 auto;
  margin-top: 30px;
}
.hero {
  background: white;
  display: flex;
  flex-direction: column;
  height: 40%;
  max-width: 400px;
  min-height: 290px;
  min-width: 275px;
  padding: 2% 2%;
  width: 40%;
}
.header {
  margin-top: 40px;
  font-size: 32px;
  font-family: Georgia;
  text-align: center;
}
.blurb {
  font-size: 18px;
  margin-top: 25px;
  text-align: center;
}
.donations {
  align-items: center;
  background-image: url('./../imgs/wall-exterior.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: center;
}
@media(max-width: 600px) {
	.donations {
		background-position-y: -150px;
		background-position-x: -130px;
	}
}
