.images {
  margin-top: 75px;
  display: flex;
}
.columns {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.image {
  border: 3px solid #4A4A4A;;
  cursor: pointer;
  height: auto;
  width: 30vw;
  margin: 5px 5px;
}
.image:hover {
  border: 3px solid #4A90E2;
  cursor: hand;
}

@media(max-width: 730px) {
  .images {
    display: block
  }
	.image {
		margin: 0 auto;
		margin-bottom: 15px;
		width: 90vw;
	}
}
