.pick {
  background: #4A4A4A;
  color: #a3a3a3;
  cursor: default;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  right: -300px;
  top: 0;
  transition: right 0.5s;
  width: 300px;
  z-index: 2;

}
.open {
  right: 0;
  transition: right 0.5s;
}
.title {
  font-size: 18px;
  font-weight: 600;
  margin-left: 15px;
  margin-top: 35px;
  margin-bottom: 15px;
}
.close {
  background: #232323;
  border-radius: 50%;
  cursor: pointer;
  margin: 30px 4px 4px 10px;
  padding: 4px 2px;
}
.block {
  margin-left: 15px;
  margin-bottom: 10px;
}
