.dialog-styles {
	width: 200;
    height: auto;
    margin: 0 auto;
    margin-top: -575px;
    background: #fff;
    border-radius: 2px;
    z-index: 100;
    position: inherit;
    padding: 15px;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.overlay-styles {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0,0,0,0.3);
}
.title {
	margin-top: 10px;
    text-align: center;
}
.close-button {
	cursor: pointer;
	position: absolute;
	font-size: 1.8em;
	right: 10px;
	top: 0;
}
.skylight-wrapper {
    position: relative;
}